:root{
  --dark-green: #0a300b;
  --light-peach: #f8e2b2;
}

* {
  box-sizing: border-box;
  font-family: 'Lora', serif;
  margin: 0;
  padding: 0;
}

* p {
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
}

/* to-top button */
.to-top{
  background: #0a300b;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color:#f1f1f1;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.to-top.active{
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

/* ----------------------------------------------------------------------------------------------------------------------------------
NAV BAR
------------------------------------------------------------------------------------------------------------------------------------*/

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/assets/images/Option7.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header h1 {
  font-family: 'Cookie', cursive;
  font-weight: normal;
  font-size: 80px;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style-type: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.nav-links ul li a:hover {
  color: #f8e2b2;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #f8e2b2;
  display: block;
  margin: auto;
  transition: 0.3s;
}

.nav-links ul li:hover::after {
  color: #f8e2b2;
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 80px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 15px;
  color: #fff;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 15px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid #0a300b;
  background: #0a300b;
  transition: 0.5s;
}

nav .fa {
  display: none;
}

@media(max-width: 850px) {
  html, body {
    overflow-x: hidden;
  }

  .text-box {
    font-size: 16px;
  }

  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: absolute;
    background: #0a300b;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
  }

  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
  }

  nav img{
    height: 80px;
    width: 100px;
  }
}

/* ----------------------------------------------------------------------------------------------------------------------------------
EXPERIENCE
------------------------------------------------------------------------------------------------------------------------------------*/
.experience {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: black;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.exp-col {
  flex-basis: 31%;
  background: #f8e2b2;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  transition: transform 0.3s ease-in-out
}

.exp-col img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.exp-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
}

@media(max-width: 850px) {
  .row {
    flex-direction: column;
  }
}

/* ----------------------------------------------------------------------------------------------------------------------------------
TESTIMONIALS
------------------------------------------------------------------------------------------------------------------------------------*/
.testimonials {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

.testimonial-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
}

.testimonial-col img {
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}

.testimonial-col p {
  padding: 0;
}

.testimonial-col h3 {
  margin-top: 15px;
}

.testimonial-col .fa {
  color: #f44336;
}

@media(max-width: 850px) {
  .testimonial-col img {
    margin-left: 0px;
    margin-right: 15px;
  }
}

/* ----------------------------------------------------------------------------------------------------------------------------------
TAG-LINE
-----------------------------------------------------------------------------------------------------------------------------------*/
.tag-line {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/assets/images/MainDish/LechonKawali.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.tag-line h1 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

@media(max-width: 850px) {
  .tag-line h1 {
    font-size: 24px;
  }
}

/* ----------------------------------------------------------------------------------------------------------------------------------
FOOTER
-----------------------------------------------------------------------------------------------------------------------------------*/
.footer {
  width: 100%;
  text-align: center;
  padding: 30px;
}

.footer-widgets-area {
  padding: 84px 0 0 0;
  margin: 0 -15px;
}

.footer-widgets-area .widget {
  display: inline-block;
  margin-bottom: 0;
  padding: 0 15px;
  width: 25%;
  vertical-align: top;
}

.widget-schedule .schedule-time {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 13px;
  color: #000000;
  width: 1%;
  white-space: nowrap;
  padding-left: 5px;
  padding-top: 10px;
}

.widget-schedule .schedule-day {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 13px;
  color: #000000;
  width: 1%;
  white-space: nowrap;
  padding-right: 5px;
}

.widget-schedule .schedule-list {
  margin: 0;
  list-style-type: none;
  padding-left: 40px;
  position: relative;
}

.widget-schedule .schedule-day,
.widget-schedule .schedule-time,
.widget-schedule .schedule-separator {
  display: table-cell;
}

.widget-schedule .schedule-sep-item {
  border-bottom: 2px dotted #154413;
  display: block;
}

.widget-schedule .schedule-separator {
  width: 98%;
}

.widget-schedule .schedule-list-item {
  display: table;
  margin-bottom: 21px;
}

.footer h4 {
  margin-bottom: 25px;
  margin-top: 30px;
  font-weight: 600;
}

.footer-down {
  background-color: #F2F2F2;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 50px;
  padding: 30px;
}

.footer-down h4 {
  margin-bottom: 25px;
  margin-top: 0;
  font-weight: 600;
  font-size: 20px;
  color: #154413;
}

.icons {
  margin-top: 20px;
}

.icons a {
  display: inline-block;
  margin-right: 20px;
  color: #154413;
  text-decoration: none;
}

.icons a:hover {
  color: #000000;
}

.icons i {
  font-size: 24px;
}

@media (max-width: 850px) {
  /* Styles for screens up to 800px */
  .footer-widgets-area {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .widget {
    margin-bottom: 20px;
  }

  .schedule-list-item {
    display: flex;
    justify-content: space-between;
  }

  .schedule-time {
    font-size: 14px;
  }
}


/* ----------------------------------------------------------------------------------------------------------------------------------
ABOUT US PAGE
-----------------------------------------------------------------------------------------------------------------------------------*/
.sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/assets/HAHAHAHAHAHAHHHAHA.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center calc(18%);
  text-align: center;
  color: #fff;
}

.sub-header h1 {
  font-family: 'Cookie', cursive;
  font-weight: normal;
  font-size: 80px;
}

.footer-down-about {
  background-color: #F2F2F2;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 50px;
  padding: 30px;
}

.footer-down-about h4 {
  margin-bottom: 25px;
  margin-top: 0;
  font-weight: 600;
  font-size: 20px;
  color: #154413;
}

.mvh {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.mvh-col {
  flex-basis: 48%;
  padding: 30px 2px;
}

.mvh-col img {
  width: 100%;
}

.mvh-col h1 {
  padding-top: 0;
}

.mvh-col p {
  padding: 15px 0 25px;
}


/* ----------------------------------------------------------------------------------------------------------------------------------
CONTACT PAGE
-----------------------------------------------------------------------------------------------------------------------------------*/
.sub-header4 {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/assets/menu-pdf-banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center calc(80%);
  text-align: center;
  color: #fff;
}

.sub-header4 h1 {
  font-family: 'Cookie', cursive;
  font-weight: normal;
  font-size: 80px;
}

/* for menu sub-head */
.sub-header-contact {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/assets/images/contact.jpg);
  background-position: center;
  background-size: cover;
  object-fit: cover;
  text-align: center;
  color: #fff;
}

.sub-header-contact h1 {
  font-family: 'Cookie', cursive;
  font-weight: normal;
  font-size: 80px;
}

.menu-pdf {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.menu-pdf a {
  background-color: #0a300b;
  color: #FFF;
  padding: 20px 40px;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.menu-pdf a:hover {
  background-color: var(--light-peach);
  color: #222222;
}


.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}

.row-contacts {
  display: flex;
  justify-content: center;
}

.widget-contact {
  text-align: center;
}

.widget-contact .contact-list-item {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 13px;
  color: #000000;
  margin-bottom: 33px;
  padding-left: 39px;
  list-style: none;
  text-align: left;
}

.contact-list-item {
  position: relative;
  padding-left: 20px;
}

.contact-list-item i {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  margin-right: 10px;
}

.contact-list-item._address i {
  color: black; 
}

.contact-list-item._telephone i {
  color: black; 
}

.contact-list-item._email i {
  color: black; 
}


/* ----------------------------------------------------------------------------------------------------------------------------------
MENU PAGE
-----------------------------------------------------------------------------------------------------------------------------------*/
.sub-header3 {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/assets/images/Dessert/REGULAR_Mango\ Float.jpg);
  background-position: center;
  background-size: cover;
  object-fit: cover;
  text-align: center;
  color: #fff;
}

.sub-header3 h1 {
  font-family: 'Cookie', cursive;
  font-weight: normal;
  font-size: 80px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.category-btns {
  display: flex;
  margin-bottom: 30px;
}

.search-bar {
  margin-bottom: 30px;
}

.btn {
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #eee;
  cursor: pointer;
}

.btn.active {
  background-color: #333;
  color: #fff;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-item {
  position: relative;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 300px;
}

.menu-item:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
  transition: box-shadow 0.5s ease, transform 0.5s ease;
}

.menu-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.item-info {
  padding: 20px;
}

.item-info h3 {
  margin: 0;
}

.item-info p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  background-color: #f2f2f2;
  color: #333;
}

.search-bar{
  display: flex;
}

.util i{
  font-size: 18px;
  margin: 0 16px;
  border: 1px solid #0a300b;
  padding: 8px 16px;
  color: #0a300b;
  border-radius: 20px;
  cursor: pointer;
}

.util i:hover{
  color: white;
  background: #0a300b;
}

.util i:active{
  color: white;
  background: #0a300b;
}

.filter-btn {
  background-color: #fff;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}


.filter-btn.active {
  background-color: #0a300b;
  color: #fff;
}

.filter-btn:hover {
  background-color: #ddd;
  color: #000000;
}

.order-btn {
  position: absolute; 
  bottom: 10px;
  right: 10px;
  background-color: #fff;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  opacity: 0; 
  transition: opacity 0.5s ease;
}

.order-btn.active {
  background-color: #0a300b;
  color: #fff;
}

.active {
  background-color: #0a300b;
  color: #fff;
}

.menu-item:hover .order-btn {
  opacity: 1; 
}

.order-btn:hover {
  background-color: #0a300b;
  color: #fff;
}


/* ------------------
  CART PAGE
------------------- */
.toggle-cart{
  display: none;
}
.cart-toggle{ 
  display: block;
}

#cart-page {
  background-color: var(--light-peach);
  margin: 40px 10px;
  margin-right: 50px;
  padding: 20px 30px;
  padding-bottom: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ; 
  z-index: 999; 
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close-cart-btn {
  font-size: 25px;
  color: var(--dark-green);
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.close-cart-btn:hover {
  color: red;
}

#overlay{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active{
  opacity: 1;
  pointer-events: all;
}

#cart-title{
  font-size: 35px;
  margin: 0;
  color: var(--dark-green);
}

#cart-page table{
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

#cart-page table thead td{
  font-size: 25px;
  padding-bottom: 10px;
}

#m-total-amount{
  display: none;
}

#cart-page table tbody td{
  padding: 10px 0;
  font-size: 20px;
}

#cart-page table tbody button{
  outline: none;
  border: none;
  font-size: 16px;
  background: none;
  background: var(--dark-green);
  color: white;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 5px;
  padding: 3px 8px;
}

#cart-page table tbody img{
  width: 75px;
  height: 75px;
  border-radius: 50px;
}

#checkout{
  text-align: center;
  margin: 40px auto;
  border-radius: 5px;
  background: var(--light-peach);
  padding: 10px 20px;
}

#checkout p{
  margin: 15px 0;
  float: left;
}

#total-price, #total-item{
  font-size: 25px;
  color: var(--dark-green);
}

.cart-checkout{
  outline: none;
  border: none;
  background: var(--dark-green);
  color: white;
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 18px;
  text-transform: uppercase;
  bottom: 30px;
  margin: 15px 0;
  cursor: pointer;  
}

.cart-checkout:active{
  color: var(--dark-green);
  background: none;
  border: 1px solid var(--dark-green)
}
