@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Lora', serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8e2b2;
  /* Spanish vintage color */
  color: #333;
}

/* nav bar */
.site-header {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  background-color: #154413;
  padding: 20px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.site-logo {
  margin-right: 20px;

}

.site-logo img {
  max-height: 100px;
  border-radius: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  font-style: italic;
  font-size: 22px;
  padding: 10px;
}

nav ul li {
  margin-left: 50px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
  color: rgb(219, 219, 138);
}

.site-main {
  margin-top: 170px; /* same as height of header */
}

/* icon  */
.lines-icon {
  width: 100%;
  height: 45px;
  position: relative;
}

.lines-icon::before, .lines-icon::after{
  content: "";
  position: absolute;
  margin: auto;
  height: 2px;
  background: #0a3009;
  width: 42%;
  top: 45%;
  margin: 0 75px  75px;
}

.lines-icon::after{
  left: 0;
}

.lines-icon::before{
  right: 0;
}

.lines-icon img{
  position: relative;
  bottom: 20px
}

/* the flex image and description in the index */
.pics-and-desc-of-resto-container {
  margin-top: 30px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-left: 70px;
}

.components.style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* set a fixed height for the container */
  max-width: 100%;
  overflow: hidden; /* clip any overflow from the image */
  transition: transform 0.3s ease; /* add transition */
  transition: transform 0.3s ease-in-out
}

.image:hover {
  transform: rotate(5deg); /* add scale transform on hover */
  cursor: pointer;
  transform: scale(2);
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* scale the image to cover the container while preserving aspect ratio */
  transition: transform 0.3s ease;
}



.image:hover img {
  transform: rotate(10deg);;
}

.header h3 {
  text-align: center;  
}

.header h3 {
  text-align: center;  
}

.img-description {
  text-align: justify;
}